body {
    background-color: #000 !important;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.heading-level-1 {
    font-size: 28px;
    font-weight: bold;
}

.body-text-1 {
    font-size: 16px;
}
